BA_ZHAW/Anaconda3-2023.07-2-Linux-x86_64.sh
data_10x

GNN/models/IEDB/IEDB_embeddings.pkl
GNN/models
GNN/processed_data
GNN/models/McPAS
GNN/models/TEINet
GNN/models/VDJdb
GNN/models/pMTnet
GNN/models/*.pkl
*.pth
*.tsv
*.csv


BA_ZHAW/data/cleaned_datasets
BA_ZHAW/data/concatenated_datasets
BA_ZHAW/data/embeddings
BA_ZHAW/data/physicoProperties
BA_ZHAW/data/plain_data
BA_ZHAW/data/plain_datasets
BA_ZHAW/data/splitted_datasets
BA_ZHAW/models
GNN









*.tsv
*.csv

